redis==3.1.0
requests==2.21.0
wave==0.0.2
numpy
ffmpeg-python
webrtcvad
pydub
https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
#h5py
pyyaml
wget
spectralcluster
speechpy
simpleder
sklearn