client/audio
.vscode
server/speech_diarization/test/*
server/speech_diarization/__pycache__
server/speech_diarization/model/dataset
server/speech_diarization/model/__pycache__
server/speech_diarization/model/dataset.h5
server/speech_diarization/model/speech_id_checkpoint
server/rest/upload/*
server/rest/node_modules
client/basic-cli/__pycache__/
docs/build
dump.rdb